<div class="mid">

    <div class="box">
        <div>Player {{gameService.username}}: <img src="assets/{{gameService.selection}}.png" width="100px" height="100px"></div>
        <span>VS</span>
        <div>Computer : <img src="assets/{{gameService.comChoice}}.png" width="100px" height="100px"></div>
        <span>{{gameService.selection}}</span>:<span>{{gameService.comChoice}}</span>
    </div>

    <div class="box">
        <p>{{gameService.result}}</p>
    </div>

    <a routerLink='pick'>Play Again?</a>

</div>