<div class="mid">

    <div class="box">
        <h1>{{gameService.result}}</h1>
    </div>

    <div class="box" *ngFor = "let res of gameService.gameresultArray">

        <div class="inline"><img src="assets/{{res.PlayerChoice}}.png"
                width="100px" height="100px"></div>

        <div class="inline"><img src="assets/vs.png"
                width="80px" height="80px"></div>

        <div class="inline"><img src="assets/{{res.ComChoice}}.png" width="100px" height="100px">
        </div>

    </div>

    <div>
        <h3>{{gameService.username}} Selected {{gameService.selection}} : Computer Selected {{gameService.comChoice}}</h3>
    </div>



    <button routerLink='pick'>Try Again?</button>

</div>