.mid {
    text-align: center;
    padding-bottom: 20px;
    
    
}

.out {
    border: solid 5px brown;
    border-radius: 8px;
    width: 700px;
    padding-bottom: 20px;
    margin: 20px auto;
    background-color: burlywood;
}