.box {
    width: 100px;
    height: 100px;
    margin: 20px;
    display: inline;
    cursor: pointer;
    margin-left: 50px;
    margin-right: 50px;
}


.mid {
    text-align: center;
    
}

.umid {
    text-align: center;
    padding-bottom: 20px;
}